body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}
.form-container h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #DC0000; /* Cor principal */
}

body{
    background-color: #DC0000;
}

.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}
.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-group input[type="file"] {
    padding: 0;
}
.form-group button {
    background-color: #DC0000; /* Cor principal */
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.form-group button:hover {
    background-color: #BF0000; /* Tom mais escuro de vermelho */
}
.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: #FFB528; /* Laranja */
    outline: none;
    box-shadow: 0 0 5px rgba(255, 180, 40, 0.5); /* Laranja claro */
}
.form-group small {
    color: #666;
}