* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    overflow-x:hidden;
    padding:0px;
    color: white;
    background-color: #C02E27;
    margin: 0;
}
.navbar{
    background-color: #060403;
    width: 100%;
    height: 50px;
    margin:0px;
    overflow-y:hidden;
    display: flex;
    align-items: center;
    padding: 0px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);

}
.navbar p{
    margin: 0%;
    padding: 0px 10px;
    font-size:x-large;

}
.navbar ul {
    font-size:x-large;
    display:flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
.navbar ul li{
    padding:0px 10px;
    color: #C02E27;
}
.navbar ul li a{
    text-decoration: none;
    padding: 10px;
    color: #C02E27;
}
.navbar ul li a:hover{
    background-color: #241B1B;
    border-radius: 5px;
}

.nav-active, .btn:hover {
    background-color: #241B1B;
    color: white;
}

header {
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.formulario {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    
}

.formulario label {
    font-size: 16px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 10px;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.input-box input, select {
    width: 100%;
    border-radius: 5px;
    padding: 12px 20px;
    margin: 8px;
    box-sizing: border-box;
}

.form {
    display: flex;
    margin: 20px;
    padding: 20px;
    background-color: #241B1B;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.644);
}

.form-images{
    width: 50%;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.644);
}

.transitions-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

textarea {
    resize: none;
}

.submit-button input{
    width: 200px;
    height: 50px;
    background-color: #e07b76;
    border: none;
    border-radius: 3px;
    margin-left: 375%;
}

.submit-button input:hover {
    background-color: #C02E27;
}